body {
  background-color: #dbedff;
}



h3 {
  font-weight: normal;
  font-size: 1.5rem;
  padding-left: 5px;
  margin-bottom: 5px;
  border-left: solid 5px blue;
}

h1 {
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 5px;
  border-bottom: solid 5px blue;
}

.btn_reload {
  margin-bottom: 20px;
}

.btn_reload a {
  display: block;
  width: 80%;
  max-width: 260px;
  margin: 0 auto;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #01b264;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.875rem;
  transition: .3s ease;
}

.btn_reload a:hover {
  background: #016839;
  transition: .3s ease;
}

.btn_reload a i {
  margin-right: 0.5em;
}



.btn {
  padding: 20px;
  text-decoration: none;
  outline: none;
  width: 250px;
  height: 150px;
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
outline: none;
}


/*.btn--radius {
  border-radius: 100vh;
}
*/
/*.btn--orange {
  color: #fff;
  background-color:#dda0dd ;
  border: solid lime 2px;
  border: none; 
}
.btn--orange:hover {
  color: #fff;
  background: #7199e8;
}*/

.btn--bread {
  color: black;
  background-color: white;
  border: solid burlywood 5px;
  /* border: none; */
}

.btn--bread:hover {
  color: black;
  background: white;
}

.btn--bread img {
  width: 45%;
  height: auto;
}

.bin--bread div {
  text-align: center;
}



.btn--rice {
  color: black;
  background-color: white;
  border: solid darkgray 5px;
  /* border: none; */
}

.btn--rice:hover {
  color: black;
  background: white;
}

.btn--rice img {
  width: 45%;
  height: auto;
}


.btn--fish {
  color: black;
  background-color: white;
  border: solid cornflowerblue 5px;
  /* border: none; */
}

.btn--fish:hover {
  color: black;
  background: white;
}

.btn--fish img {
  width: 45%;
  height: auto;
}



.btn--meat {
  color: black;
  background-color: white;
  border: solid brown 5px;
  /* border: none; */
}

.btn--meat:hover {
  color: black;
  background: white;
}

.btn--meat img {
  width: 45%;
  height: auto;
}

.btn--vegetable {
  color: black;
  background-color: white;
  border: solid green 5px;
  /* border: none; */
}

.btn--vegetable:hover {
  color: black;
  background: white;
}

.btn--vegetable img {
  width: 45%;
  height: auto;
}

.btn--orenge {
  color: black;
  background-color: white;
  border: solid orange 5px;
  /* border: none; */
}

.btn--orenge:hover {
  color: black;
  background: white;
}

.btn--orenge img {
  width: 45%;
  height: auto;
}



.btn--tee {
  color: black;
  background-color: white;
  border: solid lightgreen 5px;
  /* border: none; */
}

.btn--tee:hover {
  color: black;
  background: white;
}

.btn--tee img {
  width: 45%;
  height: auto;
}

.btn--yogurt {
  color: black;
  background-color: white;
  border: solid rgb(97, 97, 216) 5px;
  /* border: none; */
}

.btn--yogurt:hover {
  color: black;
  background: white;
}

.btn--yogurt img {
  width: 45%;
  height: auto;
}